
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutWithoutCategories.cshtml";
}

<div style="width: 50%; margin: 0 auto;">
    <h2>Made by: </h2>
    <ul>
        <li>
            <h4>Gorneanu Andrei</h4>
        </li>
        <li>
            <h4>Anghelache Bogdan</h4>
        </li>
    </ul>

    <h2>Grupa 331</h2>
</div>


